.page-header {
  margin: 1rem;
}

#search-title {
  margin-bottom: 0rem;
}

#search-instructions {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.search-form {
  background: #fdf6f6;
  margin: auto;
  max-width: 45rem;
  border: 3px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px grey;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.search-top-row {
  display: inline-flex;
}

.search-second-row {
  display: inline-flex;
  margin: auto;
}

.search-third-row {
  display: inline-flex;
  margin: auto;
}

.region-select {
  margin-right: 1rem;
  margin-left: 1rem;
}

.year-select {
  margin-right: 1rem;
  margin-left: 1rem;
}

.name-search {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 4px;
  max-width: 45rem;
}

select {
  margin: auto;
  font-size: 12px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  outline: none;
  display: inline-block;
}

#search-button {
  margin-left: auto;
  margin-right: 6rem;
  display: flex;
  border-radius: 10px;
}

.no-results {
  color: #ddccaa;
  letter-spacing: .1em;
  text-shadow:
    /* -1px -1px 1px #b0a388, */
    2px 2px 1px #9a8e76;
}

.multi-select-states {
  padding-right: 2rem;
}

.multi-select-types {
  padding-right: 2rem;
}

#search-limit {
  font-style: italic;
  font-size: .8rem;
  margin-bottom: 0rem;
  margin-top: -1rem;
  margin-left: .2rem;
}

#search-results-div {
  margin-bottom: -1rem;
}

#next-button {
  margin-bottom: 0rem;
}

#past-button {
  margin-bottom: 0rem;
}
