body {
  background: #f6f6fd;
}

#top-bar {
  height: 3.5rem;
  background: #0269EF;
}

.page-header {
  text-align: center;
}

.top-bar {
  background: #0269EF;
  height: 3.5rem;
}

.title-area {
  height: 3.5rem;
}

@media only screen and (min-width: 40.0625em) {
  .top-bar li:not(.has-form) a:not(.button){
    line-height: 3.5rem;
  }
}

.top-bar .name h1 {
  font-size: 2rem;
  height: 3.5rem;
}

@media only screen and (min-width: 40.0625em) {
  .top-bar-section li:not(.has-form) a:not(.button){
    background: #0269EF;
    border-radius: 10px;
    line-height: 3.5rem;
  }
}

.top-bar-section {
  height: 3.5rem;
  width: auto;
}

.top-bar-section ul li {
  background: #0269EF;
  height: 3.5rem;
}

.top-bar-section ul li > a {
  font-size: 1.75rem;
  height: 3.5rem;
}

.name h1 > a {
  height: 3.5rem;
}

.button {
  margin-bottom: .5rem;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
