.new_team {
  background: #fdf6f6;
  margin: auto;
  max-width: 30rem;
  border: 3px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px grey;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: .5rem;
  padding-right: 2rem;
}

.new_team label {
  margin-bottom: -1rem;
}

.new_team em {
  font-size: .8rem;
}

.edit_team {
  background: #fdf6f6;
  margin: auto;
  max-width: 30rem;
  border: 3px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px grey;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: .5rem;
  padding-right: 2rem;
}

.edit_team label {
  margin-bottom: -1rem;
}

.edit_team em {
  font-size: .8rem;
}

.edit_user {
  background: #fdf6f6;
  margin: auto;
  max-width: 30rem;
  border: 3px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px grey;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: .5rem;
  padding-right: 2rem;
}

.edit_user label {
  margin-bottom: -1rem;
}

.edit_user em {
  font-size: .8rem;
}

.create-join-team-links {
  margin-top: 0rem;
  margin-bottom: auto;
  text-align: center;
  align-content: center;
}

.teams-tiles {
  max-width: 30rem;
}

.team-name {
  font-size: 1.5rem;
}

.create-join-team-links {
  margin-top: -.5rem;
}

.team-header {
  display: flex;
}

.team-captain {
  font-weight: 400;
  font-size: 1.35rem;
}

.team-members {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

#team-photo {
  max-height: 150px;
  max-width: 150px;
  border-radius: 10px;
}

#captain {
  margin-right: .25rem;
  font-weight: bold;
}

#create-team {
  text-align: center;
}

.join-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2rem;
  font-weight: 300;
}

#edit-team-link {
  text-align: center;
  font-style: italic;
  font-size: .9rem;
}

.team-profile-photo {
  margin: auto;
  margin-top: 1rem;
  max-width: 150px;
}

.members-label {
  font-size: 1.3rem;
  font-weight: 600;
}

.captain-label {
  margin-left: .4rem;
  display: inline;
  font-style: italic;
  font-size: .8rem;
}

#team-info {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #fdf6f6;
  border-radius: 10px;
  margin-top: 1rem;
}

.team-name-header {
  margin-bottom: 0rem;
}

.team-description {
  font-style: italic;
}

#team-join-button {
  display: flex;
  justify-content: center;
}

#team-join-button .join-button {
  font-size: 1.25rem;
}

.captain-detail {
  max-width: 5rem;
  font-weight: bold;
}

.captain-div {
  margin-bottom: .5rem;
}

.member-detail {
  margin-right: .5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.nobr {
  display: inline-block;
}

.membership-photo {
  max-width: 1.5rem;
  border-radius: 50%;
}

.members-list {
  padding-bottom: .5rem;
}

.team-show-description{
  text-align: center;
  margin-top: 1rem;
}

.description-label {
  font-size: 1.3rem;
  font-weight: 600;
}

.membership-name {
  margin-top: auto;
  margin-bottom: auto;
}

.team-tile-membership-photo{
  max-width: 2rem;
}

.team-tile-membership-name{
  font-size: 1.75rem;
}
