.profile-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1.5rem;
}

.user-profile-info {
  display: flex;
}

.user-profile-photo {
  height: 100px;
  width: 100px;
  margin-right: 2rem;
  border-radius: 50%;
}

.user-email-username {
  margin-top: auto;
  margin-bottom: auto;
}

.username {
  font-size: 1.5rem;
  font-weight: 600;
}

.profile-edit {
  font-style: italic;
  font-size: .8rem;
  margin-top: .5rem;
}

.user-confirm-password-label {
  margin-bottom: 0rem;
  margin-top: .5rem;
}

#user-edit-password-label {
  margin-bottom: 0rem;
}

#user-current-password-label {
  margin-bottom: 0rem;
}

#user_password {
  margin-bottom: .25rem;
}
